<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.873018049069-4daou0po98dt4vhoq2pomptbef7ftkf6</string>
				<string>com.googleusercontent.apps.63421976809-gs73naa7ah26cbk21bldvk4ned3ki5o7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.manrique.roam.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>roam</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_MAPS_IOS_API_KEY</key>
	<string>AIzaSyDg8gZInjJA30BDRF0NqArLEzNwvTpm1Ew</string>
	<key>ROAM_LOCAL_BASE_URL</key>
	<string>http://localhost:8000</string>
	<key>ROAM_PRODUCTION_BASE_URL</key>
	<string>https://roam-gateway-cm0ahzq6.ue.gateway.dev</string>
	<key>ROAM_PRODUCTION_FIREBASE</key>
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyAj3K9PEONilPXF1DIF2gL3e3JP99pBfbU</string>
		<key>BUNDLE_ID</key>
		<string>com.manrique.Roam</string>
		<key>CLIENT_ID</key>
		<string>873018049069-4daou0po98dt4vhoq2pomptbef7ftkf6.apps.googleusercontent.com</string>
		<key>GCM_SENDER_ID</key>
		<string>873018049069</string>
		<key>GOOGLE_APP_ID</key>
		<string>1:873018049069:ios:a3c66077afc367409baea4</string>
		<key>PROJECT_ID</key>
		<string>roam-alpha</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.873018049069-4daou0po98dt4vhoq2pomptbef7ftkf6</string>
		<key>STORAGE_BUCKET</key>
		<string>roam-alpha.firebasestorage.app</string>
	</dict>
	<key>ROAM_STAGING_BASE_URL</key>
	<string>https://roam-gateway-staging-cm0ahzq6.ue.gateway.dev</string>
	<key>ROAM_STAGING_FIREBASE</key>
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyDhR_yhKiPjcCsmlj8vOsUPK10moousCr0</string>
		<key>BUNDLE_ID</key>
		<string>com.manrique.Roam</string>
		<key>CLIENT_ID</key>
		<string>63421976809-gs73naa7ah26cbk21bldvk4ned3ki5o7.apps.googleusercontent.com</string>
		<key>GCM_SENDER_ID</key>
		<string>63421976809</string>
		<key>GOOGLE_APP_ID</key>
		<string>1:63421976809:ios:8bcc1b364d55b89080a078</string>
		<key>PROJECT_ID</key>
		<string>cozy-corners-dates</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.63421976809-gs73naa7ah26cbk21bldvk4ned3ki5o7</string>
		<key>STORAGE_BUCKET</key>
		<string>cozy-corners-dates.firebasestorage.app</string>
	</dict>
	<key>ROAM_TRUSTED_AUTH_PROVIDERS</key>
	<string>google.com,password</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
