<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.435713755234-c09m71qrava4iun9bp077n03sablo96d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.columbiastartupstudio.roam.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>roam</string>
			</array>
		</dict>
	</array>
	<key>ROAM_LOCAL_BASE_URL</key>
	<string>http://localhost:8000</string>
	<key>ROAM_PRODUCTION_BASE_URL</key>
	<string>https://roam-gateway-cm0ahzq6.ue.gateway.dev</string>
	<key>ROAM_TRUSTED_AUTH_PROVIDERS</key>
	<string>google.com,password</string>
	<key>GOOGLE_MAPS_IOS_API_KEY</key>
	<string>AIzaSyCt75GzejId2L-05v1VDE2KDhJ92UxaA-g</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Roam uses your location to show where you are on the collection map.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Roam adds your confirmed plans to your calendar so you never miss a hangout.</string>
</dict>
</plist>
